<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="192x192" href="/assets/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
<link rel="manifest" href="/assets/site.webmanifest">
<link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#2d2d2d">
<link rel="shortcut icon" href="/assets/favicon.ico">
<meta name="apple-mobile-web-app-title" content="Бредогенератор">
<meta name="application-name" content="Бредогенератор">
<meta name="msapplication-TileColor" content="#2d2d2d">
<meta name="msapplication-TileImage" content="/assets/mstile-144x144.png">
<meta name="msapplication-config" content="/assets/browserconfig.xml">
<meta name="theme-color" content="#dedede">