/* --- GLOBAL ---*/

* {
  border-radius: 0 !important;
  margin-bottom: 0 !important;
}
html {
  background: #f5f5f5;
  height: 100%;
  scroll-behavior: smooth;
}
body {
  background-color: #f5f5f5;
}
a, a:hover, a:visited, a:active {
  color: #5fba7d;
  text-decoration: none
}

/* --- TABLE ---*/

table {
  width: 100%;
  margin: 0;
  background: #fff;
  border: 1px solid #ccc;
}
th {
  text-align:left;
  background: #eee;
  color: #444;
  padding: 5px;
  padding-left: 2%;
  vertical-align: middle;
}
th:first-child, td:first-child {
  border-right: 1px solid #ccc;
  text-align: center;
  max-width: 64px;
}
tr {
  background-color: rgba(0,0,0,0.0);
  border-bottom: 1px solid #ccc;
}
tr:nth-child(even) {
  background-color: rgba(0,0,0,0.025);
}
td {
  padding: 0.6em 1em 0.6em 5px;
  padding-left: 2%;
  color: #555;
  vertical-align: middle;
}
table.table {
  margin: 0 !important;
}

/* --- BUTTONS ---*/

button, button:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn {
  border: 1px solid #ccc !important;
}
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}
.btn.enabled {
  background-color: #D3F0CE;
  cursor: pointer;
}
.btn.disabled {
  background-color: #f5f5f5;
  cursor: pointer;
}
.btn-ok {
  color: #f5f5f5;
  background-color: #5fba7d;
}
.btn-ok:hover, .btn-ok:focus, .btn-ok:active {
  color: #fff;
  background-color: #4ea96c;
}
.btn-dark {
  color: #f5f5f5;
  background-color: #444;
}
.btn-dark:hover, .btn-dark:focus, .btn-dark:active {
  color: #444;
  border-color: #B4C994 !important;
  background-color: #B4C994;
}

/* --- SCROLL --- */

.scroll-wrapper {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 99;
}
.btn-scroll {
    padding: 0;
    pointer-events: auto;
    border: none;
    border-radius: 50% !important;
   -webkit-user-drag: none;
    background-color: #5fba7d;
    height: 40px;
    width: 40px;
    display: none;
}
.btn-scroll-icon {
    display: block;
    margin: 8px auto auto 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    height: 24px;
    width: 24px;
    left: 0;
    position: absolute;
    top: 0;
   -webkit-user-drag: none;
   -webkit-user-select: none
}

/* --- COLLAPSING ---*/

.collapsing, .hidden {
  -webkit-transition: none;
  transition: none;
  display: none;
}
.num.collapse.in {
  display: table-cell;
}

/* --- THUMBNAIL --- */

.thumbnail {
  position: relative;
  overflow: hidden;
  max-width: 600px !important;
  margin: 0 auto;
  border: none;
  margin: none;
  padding: none;
}

/* --- INPUT ---*/

input[type=number], textarea {
  box-shadow: none !important;
  border: 1px solid #ccc !important;
  -moz-appearance: textfield;
  -o-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  margin: 0 !important;
}
input[type=number].inline {
/*
  border-left: none !important;
  border-right: none !important;
*/
}
.input-group-addon {
  background: transparent !important;
  border: none !important;
}

/* --- PANEL ---*/

.panel {
  border: 1px solid #444;
  box-shadow: none;
  border: none !important;
}
.panel-heading, .bottom-panel {
  padding: 1em;
  font-weight: bold !important;
  color: #eee !important;
  background-color: #444 !important;
  border-bottom: none !important;
}
.panel-heading a, .bottom-panel a, sub, sup {
  color: #bcc994;
}
.panel-footer {
  margin: 0;
  padding: 1em !important;
  background-color: #fff !important;
  border-bottom: none !important;
}
.panel-footer a:hover {
    text-decoration: underline;
    color: #4eb96c;
}
/* --- MARKUP ---*/

.inline {
  width: 100%;
}
.wrapper {
  padding: 0 15px;
}
.container {
  max-width: 960px;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: none;
  padding: 0;
}
blockquote {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace !important;
  font-size: 12px;
  background: #444;
  color: #ccc;
  margin-top: 0.5em;
  margin-bottom: 1.5em !important;
  padding: 0.5em;
  border-left: 5px solid #444;
  border-right: 5px solid #ccc;
}

/* --- WORKAROUNDS --- */

.list-group-item.active {
    background-color: #5fba7d !important;
    border-color: #5fba7d !important;
    color: white;
}
.list-group-item.active:hover {
    background-color: #4ea96c !important;
    border-color: #4ea96c !important;
}
.list-group-item.active 
.list-group-item-text, 
.list-group-item.active:focus 
.list-group-item-text, 
.list-group-item.active:hover 
.list-group-item-text {
    color: #eee;
}

/* --- RESPONSIBLE ---*/

@media screen and (max-width:990px) {
    .container {
        width: 100%;
        margin: 0;
        border: none;
    }
}

@media screen and (max-width:480px) {
    html{
      box-shadow: none;
    }
    td, tr, table{
      min-width: 100%;
    }
    .input-group-addon {
      display: none;
    }
    .btn-ok {
      width: 100%;
    }
    .btn-group-justified button {
      width: 50% !important;
    }
    .btn-dark {
      width: 100%;
      margin-bottom: 0.5em;
    }
    .list-group-item {
        text-align: center;
    }
    div.panel-footer > div > a.list-group-item.active > p {
        text-align: center;
    }
}

@media screen and (max-width:256px) {
  .btn, .input-group, .panel-heading, span {
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 0.5em;
  }
  .panel-heading {
    padding-bottom: 2em;
  }
}
